<div class="gifts row">
	<% if current_user %>
	
	<% @gifts.each do |gift| %>
	<% if current_user.id != gift.user.id %>

	<div class="gift col-lg-2">
    <div>
      <%= gift.title %>
      <%= gift.user.name.capitalize %>
    </div>
    <div>
      <% gift.avatars.each do |avatar| %>
      <%= image_tag avatar.image.tiny_thumb.url %>
      <%= link_to "Show me more!", gift_path(gift), class: "btn btn-primary" %>
      <% end %>
    </div> 
  </div>

	<% end %>
	<% end %>
	<% end %>

	


	<% if !current_user %>

	<% @gifts.each do |gift| %>
    <div class="gift col-lg-2">
      <div>
        <%= gift.title %>
        <%= gift.user.name.capitalize %>
      </div>
      <div>
        <% gift.avatars.each do |avatar| %>
        <%= image_tag avatar.image.tiny_thumb.url %>
        <%= link_to "Show me more!", gift_path(gift), class: "btn btn-primary" %>
        <% end %>
      </div> 
    </div>
	<% end %>
	<% end %>


</div>



<!-- 
p = current_user.id
p = @gift.user.id -->